streamlit==1.37.1

langchain-community==0.3.2
langchain-huggingface==0.3.1
chromadb==0.5.5
sentence-transformers==2.7.0
pypdf==4.3.1
requests==2.32.5
pymongo==4.15.0
pysqlite3-binary==0.5.4
numpy==1.26.2
             






